body{
  background-color: white;
  /*background-image: url("../images/background.png");

  background-attachment: fixed;
  background-repeat: no-repeat;*/
  font-family: 'Open Sans'
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
  margin-bottom: 20%;
  padding: 0;
  overflow: hidden;
  background-color: #555;
  width: 200px;

}

li a{
  display: block;
  padding: 8px 16px;
  width: 200px;
  text-decoration: none;
  background-color: #555;

}

li a:hover{
    background-color: #333;
    color: white;
}

section{
  display: block;
  padding: 5px 5px 5px 5px;
  /*margin: 0px 25px;*/
  margin-left: 15%;

  width: 60%;
  overflow: auto;
  text-align: justify;
}

.display-left h1{
    text-align: left;
}

.display-right h1{
  text-align: right;
}

.display-left img{
  display: block;
  margin-right: auto;
}

.display-right img{
  display: block;
  margin-left: auto;
}

#container ul{
  margin-left: auto;
  margin-right: auto;
}

#container {
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container h1{
  text-align: center;
}

#container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 0;
}
